@import "~/assets/fonts/fonts.css";
@import "~/assets/css/tlwnd.css";

body {
  background: #f5f9fd;
  font-family: "SF Pro Display", sans-serif;
  overflow: overlay;

  .dark & {
    @apply bg-dark-blue;
  }
}

.title {
  @apply font-medium !leading-std text-black dark:text-white-600 group-hover:text-light-blue dark:group-hover:text-light-blue-dark;
}

.short-content {
  @apply text-black-500 dark:text-white-500;
}

.content:deep(ol) {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;
}

.content:deep(ul) {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
}

blockquote {
  border-radius: 0rem 1rem 1rem 0rem;
  border-left: 4px solid #0066cc;
  background: rgba(0, 102, 204, 0.1);
  padding: 1.875rem 2.5rem;
}
