@import "~/assets/fonts/fonts.css";
@import "~/assets/css/tlwnd.css";

body {
  background: #F5F9FD;
  font-family: "SF Pro Display", sans-serif;
  overflow: overlay;

  .dark & {
    @apply bg-dark-blue;
  }
}
