@import "~/assets/fonts/fonts.css";
@import "~/assets/css/tlwnd.css";

body {
  background: #f5f9fd;
  font-family: "SF Pro Display", sans-serif;
  overflow: overlay;

  .dark & {
    @apply bg-dark-blue;
  }
}

::-moz-selection {
  background: #06c !important;
  color: #fff;
}
::selection {
  background: #06c !important;
  color: #fff;
}

.dark {
  ::-moz-selection {
    background: #178fe0 !important;
    color: #fff;
  }
  ::selection {
    background: #178fe0 !important;
    color: #fff;
  }
}

.title {
  @apply font-medium !leading-std text-black dark:text-white-600 group-hover:text-light-blue dark:group-hover:text-light-blue-dark;
}

.short-content {
  @apply text-black-500 dark:text-white-500;
}

.content:deep(ol) {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;
}

.content:deep(ul) {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
}

// blockquote {
//   background: rgba(0, 102, 204, 0.1);
// }

blockquote {
  position: relative;
  padding: 2em 0;
  font-weight: 600;
}

blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 1.25rem;
  background-image: url("~/assets/icons/quote.svg"),
    linear-gradient(90deg, #06c 0%, rgba(0, 102, 204, 0) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
  background-size: 24px 20px, calc(100% - 40px) 2px;
  background-origin: content-box;
}

blockquote::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  display: block;
  margin: 0.5rem auto;
  background: linear-gradient(-90deg, #06c 0%, rgba(0, 102, 204, 0) 100%);
}
